@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'RopaSans Italic';
    src: url(../fonts/RopaSans-Italic.ttf);
}

@font-face {
    font-family: 'RopaSans';
    src: url(../fonts/RopaSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'MontSerrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../fonts/Questrial-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.pagina {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #18191A;
}

.container {
    margin: auto;
    display: flex;
    width: 80%;
}

.header {
    z-index: 10;
    height: 12%;
    width: 100%;
    background-color: #022F37;
    position: fixed;
}

.header .container {
    /* border: 2px solid red; */
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.usuario {
    width: 30%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.usuario span {
    margin-left: 3%;
}

.usuario img {
    cursor: pointer;
    height: 80%;
}


.header .container span {
    font-family: 'OpenSans';
    text-decoration: none;
    color: #FFFF;
    font-size: 3vh;
    font-weight: 500;
}

.inicio {
    height: 100%;
    width: 100%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
}

.titulo {
    height: 30%;
    width: 100%;
}

.titulo .container {
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.titulo .container span {
    color: #18191A;
    font-size: 5vh;
    font-family: 'MontSerrat';
}

#horarioTitulo {
    color: rgb(168, 8, 8);
}

.caixaContinente {
    height: 57%;
    width: 100%;
    background-color: #022F37;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




