@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'RopaSans';
    src: url(../fonts/RopaSans-Italic.ttf);
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'MontSerrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(../fonts/Questrial-Regular.ttf);
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.pagina {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #18191A;
}

.container {
    margin: auto;
    display: flex;
    width: 80%;
}

.header {
    z-index: 10;
    height: 12%;
    width: 100%;
    background-color: #18191A;
    position: fixed;
}

.header .container {
    margin-left: 40%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.header .container button {
    cursor: pointer;
    font-size: 3vh;
    background-color: #18191A;
    padding: 0.8% 3.5%;
    color: white;
    border: #FFFF 0.3vh solid;
    border-radius: 2vh;
    transition: 0.5s;
    font-family: 'OpenSans';
}

.header .container button:hover {
    transition: 0.5s;
    background-color: #ffffff;
    color: black;
}

.header .container a {
    font-family: 'OpenSans';
    text-decoration: none;
    color: #FFFF;
    font-size: 3vh;
    font-weight: 500;
}

.inicio {
    margin-top: 6%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    background-image: url(../img/fundo_inicio.png);
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.globo {
    width: 60%;
    height: 100%;
    /* border: 2px solid red; */
}

.globo .container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.globo .container img {
    margin: auto;
    height: 95%;
    /* border: red 2px solid; */
}

.titulo {
    height: 100%;
    width: 40%;
}

.titulo .container {
    flex-direction: column;
    height: 100%;
    /* justify-content: space-between; */
}

.titulo .container span {
    margin-left: 18%;
    font-family: 'OpenSans';
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 9vh;
    font-weight: 400;
    margin-bottom: -5%;
}

.titulo .container p {
    margin-top: 5%;
    margin-left: 35%;
    font-family: 'RopaSans';
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 2vh;
    font-weight: 400;
}

.titulo .container img {
    margin-left: 1%;
    height: 30%;
}

.titulo .container button {
    cursor: pointer;
    margin-left: 25%;
    margin-bottom: 20%;
    width: 50%;
    height: 10%;
    text-align: center;
    margin-top: auto;
    font-size: 4vh;
    color: #18191A;
    border-radius: 6vh;
    transition: 0.5;
    font-family: 'Questrial';
}

.titulo .container button:hover {
    transition: 0.5;
    background-color: #022F37;
    border: #DDDDDD 0.5vh solid;
    color: #DDDDDD;
    text-decoration: wavy;
}

.bolaImagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
    border-radius: 50%;
    background-color: #DDDDDD;
}

.textoRedondo {
    color: #DDDDDD;
    width: 50%;
}

#subtitulo {
    font-size: 2.3vh;
    margin-bottom: 10%;
    margin-left: 2%;
    font-family: 'RopaSans';
}

#texto {
    font-size: 6vh;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 7%;
    font-weight: 600;
    font-family: 'MontSerrat';
}

#subtexto {
    font-weight: 400;
    font-size: 2vh;
    margin-top: 10%;
    margin-left: 2%;
    font-family: 'MontSerrat';
}

.sobre {
    height: 100vh;
    width: 100%;
    background-image: url(../img/fundo_sobre.png);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #DDDDDD;
}

.sobre .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'MontSerrat';
}

.sobre .container h1 {
    color: #18191A;
    font-size: 6vh;
    margin-right: 40%;
    margin-top: 10%;
    letter-spacing: 8px;
    backdrop-filter: blur(1px);
}

.sobre .container p {
    background-color: #DDDDDD;
    border-radius: 2vh;
    width: 35%;
    height: 100%;
    font-size: 2.8vh;
    text-align: justify;
}

.cards {
    height: 100vh;
    width: 100%;
    background-color: #18191A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .container {
    width: 100%;
    height: 75%;
    background-color: #3D3E40;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    height: 80%;
    width: 30%;
    font-family: 'MontSerrat';
    border: #ffffff 0.5vh solid;
    border-radius: 1vh;
}

.card .container {
    height: 100%;
    flex-direction: column;
    /* border: 2px solid red; */
    color: #DDDDDD;
}

.card .container .imagem {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card .container img {
    height: 80%;
    filter: drop-shadow(2px 2px 4px black);
}

.card .container p {
    font-size: 3vh;
}

.card .container .texto {
    text-align: justify;
    width: 90%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.card .container .texto .tituloCard h1 {
    font-size: 5vh;
}

.tituloCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.sobreMim {
    height: 100vh;
    width: 100%;
    background-color: #18191A;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.tituloSobreMim {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'RopaSans';
    color: #ffff;
}

.tituloSobreMim h1 {
    font-size: 8vh;
}

.sobreMim .container {
    height: 90%;
    width: 100%;
}

.caixaFoto {
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.moldeFoto {
    width: 80%;
    height: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imagemFrente {
    width: 90%;
    height: 90%;
    border-left: 2vh #ddd solid;
    border-right: 2vh #ddd solid;
    border-top: 2vh #ddd solid;
    border-bottom: 7vh #ddd solid;
    filter: drop-shadow(2px 2px 4px black);
}

.moldeFoto h1 {
    font-size: 3vh;
    font-weight: 500;
    font-family: 'OpenSansItalic';
    position: absolute;
    bottom: -2.5vh;
}

.textoFoto {
    width: 30%;
    height: 100%;
    color: #DDD;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1%;
    font-family: 'MontSerrat';
    margin-left: 1%;
}

#textoFaculdade {
    font-size: 3vh;
    letter-spacing: 2px;
}

#subtextoSobreMim {
    font-size: 1.8vh;
    letter-spacing: 2px;
}

#tituloContato {
    font-family: 'RopaSans';
    font-size: 3vh;
}

.contatos {
    width: 30%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contatos img {
    height: 50%;
    cursor: pointer;
    transition: 1s;
}


#gitHub {
    transition: 1s;
    filter: invert(1);
}

#github:hover {
    transition: 1s;
    filter: invert(0) opacity(50%);
}

.contatos img:hover {
    transition: 1s;
    filter: opacity(50%);
}

.interesseProjeto {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 3%;
    font-family: 'Questrial';
}

.caixaTitulo {
    background-color: #DDD;
    width: 80%;
    height: 12%;
    display: flex;
    align-items: center;
    border-radius: 1vh;
    margin-right: -1%;
    font-size: 2.8vh;
}

.interesseProjeto p,
h1 {
    margin-left: 5%;
}

.caixaTexto {
    margin-right: -1%;
    border-radius: 1vh;
    background-color: #DDD;
    width: 80%;
    height: 40%;
    font-size: 3vh;
}

.footer {
    height: 12vh;
    width: 100%;
    /* border-radius: 2vh 2vh 0 0; */
    background-color: #18191A;
}

.footer .container {
    height: 100%;
    width: 100%;
    background-color: #56757B;
    align-items: center;
    border-radius: 2vh 2vh 0 0;
    justify-content: space-around;
    font-family: 'MontSerrat';
}

.projeto {
    width: 30%;
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    color: #FFFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projeto h1 {
    font-size: 2vh;
    text-align: center;
    margin: 0;
    letter-spacing: 5px;
}

.projeto p {
    width: 90%;
    font-size: 1.5vh;
    text-align: justify;
}

.site {
    width: 30%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    color: #FFFF;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.site h1 {
    font-size: 2vh;
    text-align: center;
    margin: 0;
    letter-spacing: 5px;
}

.site a {
    text-decoration: none;
    color: #FFFF;
    font-size: 1.8vh;
}

.ajuda {
    width: 30%;
    height: 100%;
    display: flex;
    color: #FFFF;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ajuda h1 {
    font-size: 2vh;
    text-align: center;
    margin: 0;
    letter-spacing: 5px;
}

.ajuda p {
    text-decoration: none;
    color: #FFFF;
    font-size: 1.3vh;
}

.logoFooter {
    width: 10%;
    height: 100%;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter img {
    height: 90%;
}

.tituloFooter {
    display: flex;
    width: 100%;
    height: 20%;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.textoFooter {
    width: 100%;
    height: 90%;
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}